{% extends 'base.html' %}

{% block content %}

<div class="body_interface">
    <div class="sorties_recentes">
        <div class="sorties_recentes_title">
            <div class="sorties_recentes_title_color_shape_yellow"></div>
            <div class="sorties_recentes_title_text">Sorties Récentes</div>
            <a href="{{ url_for('main.add_follow') }}" id="add_button">
                <div class="add_manga">
                    <div class="add_manga_logo">
                        <img src="{{url_for('static', filename='add_button.png')}}" alt="add_button.png">
                    </div>
                    <div class="add_manga_text">Add Manga/Manwha</div>
                </div>
            </a>
        </div>
        
        <div class="sorties_recentes_cards">
            {% for manga in mangas_list %}
                {% if count_false[loop.index0] != 0 %}
                <div class="sorties_recentes_card">
                    <a href="{{ url_for('main.DynamicUrl', manga_id = manga.id) }}">
                        <div class="sorties_recentes_card_top">
                            <img src="{{manga.cover}}" alt="cover_manga" >
                            <div class="sorties_recentes_card_top_label"> {{count_false[loop.index0]}} Chapters </div>
                            <progress id="read_to_date" max="100" value="{{(100*count_true[loop.index0])/(count_false[loop.index0]+count_true[loop.index0])|round|int}}"></progress>
                        
                        </div>
                    </a>

                    <div class="sorties_recentes_card_bottom">
                        <a href="{{ url_for('main.DynamicUrl', manga_id = manga.id) }}">
                            <div class="sorties_recentes_card_bottom_manga">{{manga.name|truncate(30) }}</div>
                        </a>
                        {% if manga.manga_chapters|length > 0 %}
                        <a href= {{manga.manga_chapters[0].chapter_url}} >
                            <div class="sorties_recentes_card_bottom_manga_chapter">{{manga.manga_chapters[0].chapter_number|round|int}} | {{manga.manga_chapters[0].chapter_name}}</div>
                        </a>
                        {% else %}
                        <div class="sorties_recentes_card_bottom_manga_chapter">Non publié</div>

                        {% endif %}
                    </div>


                </div>
                {% endif %}

            {% endfor %}

        </div>
        

    </div>

    <div class="sorties_a_jour">
        <div class="sorties_a_jour_title">
            <div class="sorties_a_jour_title_color_shape_green"></div>
            <div class="sorties_a_jour_title_text">A jour dans la lecture</div>
        </div>

        <div class="sorties_a_jour_cards">
            {% for manga in mangas_list %}
                {% if count_false[loop.index0] == 0 %}
                <div class="sorties_a_jour_card">
                    <a href="{{ url_for('main.DynamicUrl', manga_id = manga.id) }}">
                        <div class="sorties_a_jour_card_top">
                            <img src="{{manga.cover}}" alt="cover_manga" >
                            <progress id="full_read" max="100" value="100"></progress>
                        
                        </div>
                    </a>

                    <div class="sorties_a_jour_card_bottom">
                        <a href="{{ url_for('main.DynamicUrl', manga_id = manga.id) }}">
                            <div class="sorties_a_jour_card_bottom_manga">{{manga.name|truncate(30) }}</div>
                        </a>
                        {% if manga.manga_chapters|length > 0 %}
                        <a href= {{manga.manga_chapters[0].chapter_url}} >
                            <div class="sorties_a_jour_card_bottom_manga_chapter">{{manga.manga_chapters[0].chapter_number|round|int}} | {{manga.manga_chapters[0].chapter_name}}</div>
                        </a>
                        {% else %}
                        <div class="sorties_a_jour_card_bottom_manga_chapter">Non publié</div>

                        {% endif %}
                    </div>

                </div>

                {% endif %}

            {% endfor %}


        </div>

    </div>
      

</div>

{% endblock %}